body.dark-mode {
    background-color: #121212;
    color: white;
}

.navbar-light.bg-light {
    background-color: #f8f9fa;
}

body.dark-mode .navbar-light.bg-light {
    background-color: #333;
}

body.dark-mode .navbar-light .navbar-brand,
body.dark-mode .navbar-light .nav-link {
    color: white;
}
