{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome home, {{ current_user.username }}!</h1>
    {% if current_user.last_login_time %}
    <p>Last login on: <span id="lastLoginTime" data-time="{{ current_user.last_login_time }}"></span></p>
    <script>
        function convertToLocalTime(utcTime) {
            var localTime = new Date(utcTime);
            localTime.setHours(localTime.getHours() + 1); // Add one hour
            return localTime.toLocaleString();
        }

        document.addEventListener('DOMContentLoaded', function() {
            var lastLoginElement = document.getElementById('lastLoginTime');
            var utcTime = lastLoginElement.getAttribute('data-time');
            lastLoginElement.innerHTML = convertToLocalTime(utcTime);
        });
    </script>
    {% endif %}
    <p>You have {{ current_user.tokens }} tokens.</p> 
</div>
{% endblock %}
