{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Your Inventory</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#all" data-toggle="tab">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#avatars" data-toggle="tab">Avatars</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#items" data-toggle="tab">Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#ornaments" data-toggle="tab">Ornaments</a>
        </li>
    </ul>
    <div class="tab-content">
        {% for category in ['all', 'avatars', 'items', 'ornaments'] %}
        <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="{{ category }}">
            {% set filtered_items = items if category == 'all' else items | selectattr('category.name', 'eq', category) | list %}
            {% if filtered_items %}
                {% for item in filtered_items %}
                <div class="item-card">
                    <img src="{{ url_for('static', filename=item.image_url) }}" alt="{{ item.name }}" class="item-image">
                    <div class="item-info">
                        <h3 class="item-name">{{ item.name }}</h3>
                        <p class="item-price"><i class="fas fa-coins" style="color: gold;"></i> {{ item.price }}</p>
                        <button class="details-button" onclick="toggleDetails(event)">Show Details</button>
                        <div class="item-details" style="display:none;">
                            <p>Description: {{ item.description }}</p>
                            <p>Category: {{ item.category.name }}</p>
                            <p>Bought: Unknown</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
        	<div class="empty-inventory">
           	    <p class="empty-message">Nothing here yet!</p>
                <a href="{{ url_for('shop') }}" class="btn btn-primary">
               	    <i class="fas fa-shopping-cart"></i> Go to Shop
           	    </a>
       		 </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<script>
function toggleDetails(event) {
    const detailsDiv = event.target.nextElementSibling;
    detailsDiv.style.display = detailsDiv.style.display === 'none' ? 'block' : 'none';
}
</script>
{% endblock %}
