{% extends "base.html" %}

{% block title %}Share Tokens{% endblock %}

{% block content %}
<div class="container">
    <h1>Share Tokens</h1>
    <form method="POST" action="{{ url_for('share_tokens') }}">
        <div class="form-group">
            <label for="recipient">A Habiba You want to give love to:</label>
            <input type="text" id="recipient" name="recipient" class="form-control" autocomplete="off" required list="usernames">
            <datalist id="usernames"></datalist>
        </div>
        <div class="form-group">
            <label for="amount">Habiba Points you wanna give:</label>
            <input type="number" id="amount" name="amount" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Share Love</button>
    </form>
    {% if error %}
        <div class="alert alert-danger mt-3">{{ error }}</div>
    {% endif %}
</div>

<script>
    document.getElementById('recipient').addEventListener('input', function() {
        var query = this.value;
        fetch('/autocomplete_usernames?query=' + query)
            .then(response => response.json())
            .then(data => {
                var datalist = document.getElementById('usernames');
                datalist.innerHTML = '';
                data.forEach(function(pseudo) {
                    var option = document.createElement('option');
                    option.value = pseudo;
                    datalist.appendChild(option);
                });
            });
    });
</script>
{% endblock %}
